.apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  font-size: 30px;
  margin: 40px 0px 40px 0;
}

img {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  box-shadow: 0 0 25px white;
}
.list-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.list-navigation li {
  cursor: pointer;
}
