.img-user {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.img-user li img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.btn-navigation {
  display: flex;
  gap: 40px;
  margin: 30px 0 30px 0;
}

.btn-navigation button {
  background-color: transparent;
  border: 2px solid white;
  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
}
